alabaster==0.7.13
awscli==1.27.163
Babel==2.12.1
backcall==0.2.0
botocore==1.29.163
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.1.0
click==8.1.3
colorama==0.4.4
coverage==7.2.7
cryptography==41.0.1
cycler==0.11.0
DateTime==5.1
debugpy==1.6.7
decorator==5.1.1
docutils==0.19
entrypoints==0.4
flake8==5.0.4
fonttools==4.38.0
idna==3.4
imagesize==1.4.1
importlib-metadata==6.7.0
importlib-resources==5.12.0
ipykernel==6.16.2
ipython==7.34.0
jaraco.classes==3.2.3
jedi==0.18.2
jeepney==0.8.0
Jinja2==3.1.2
jmespath==1.0.1
jupyter_client==7.4.9
jupyter_core==4.12.0
keyring==24.1.1
kiwisolver==1.4.4
MarkupSafe==2.1.3
matplotlib==3.5.3
matplotlib-inline==0.1.6
mccabe==0.7.0
more-itertools==9.1.0
nest-asyncio==1.5.6
numpy==1.21.6
packaging==23.1
pandas==1.3.5
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
prompt-toolkit==3.0.38
psutil==5.9.5
ptyprocess==0.7.0
pyasn1==0.5.0
pycodestyle==2.9.1
pycparser==2.21
pyflakes==2.5.0
Pygments==2.15.1
pyodbc==4.0.39
pyparsing==3.1.0
python-dateutil==2.8.2
python-dotenv==0.21.1
pytz==2023.3
PyYAML==5.4.1
pyzmq==25.1.0
requests==2.31.0
rsa==4.7.2
s3transfer==0.6.1
seaborn==0.12.2
SecretStorage==3.3.3
six==1.16.0
snowballstemmer==2.2.0
Sphinx==5.3.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
-e git+https://github.com/brendanhuang/AsthmaExacerbation.git@5729f5daf2e69fba38427bb835a5ecb4996308ae#egg=src
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
typing_extensions==4.7.0
urllib3==2.0.3
wcwidth==0.2.6
zipp==3.15.0
zope.interface==6.0
